<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>i5iOsTp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA086E981C3D732E001A8D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA086EAC1C3D732E001A8D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA086EB71C3D732E001A8D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
